
h1 {
  color: blue
}

h2 {
  color: green
}

.Dead {font-family: 'Fjalla One', sans-serif;}

.Pulp {font-family: 'Lobster', cursive;}

.Wreck {font-family: 'Bangers', cursive;}

.Inside {font-family: 'Merriweather Sans', sans-serif;}
